version: "3.9"

services:
  postgres:
    image: postgres:18-alpine
    container_name: eneba-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: eneba
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  backend:
    build: ./backend
    container_name: eneba-backend
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/eneba?sslmode=disable

  frontend:
    build: ./frontend
    container_name: eneba-frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "3000:80"
      
volumes:
  postgres_data: